/vagrant/.*

install/ubuntu/install-docker~

install/ubuntu/install-onedock~

install/ubuntu/install-one~

vagrant/Vagrantfile~

vagrant/cancel

vagrant/ln\.sh

vagrant/mvds\.sh

vagrant/ubuntu-xenial-16\.04-cloudimg-console\.log

vmm/onedock/cancel~
